version: '3.8'

services:
  migration:
    build:
      context: ./migration
    container_name: migration_service
    ports:
      - "8183:8183"

  web:
    build:
      context: ./web
    container_name: library_web
    ports:
      - "8180:8180"

  bot:
    build:
      context: ./bot
    container_name: telegram_bot
    ports:
      - "8181:8181"
