version: '3.8'

services:
  migration:
    build:
      context: ./migration
    container_name: migration_service
    ports:
      - "8183:8083"
    depends_on:
      postgres:
        condition: service_healthy

  web:
    build:
      context: ./web
    container_name: library_web
    ports:
      - "8180:8080"
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
