version: '3.8'

services:
  migration:
    build:
      context: ./migration
    container_name: migration_service
    ports:
      - "8083:8083"

  web:
    build:
      context: ./web
    container_name: library_web
    ports:
      - "8080:8080"

  bot:
    build:
      context: ./bot
    container_name: telegram_bot
    ports:
      - "8081:8081"

  reader:
    build:
      context: ./uhf-reader
    container_name: uhf-reader
    ports:
      - "8082:8082"
      - "8085:8085"
      - "8086:8086"





